body{
    background-color: #1A3365;
    margin: 0px;
}

#header {
    padding: 20px;
    text-align: center;
    width: auto;
    background: #FFFFFF;
    font-size: 18px;
    margin: 0px;
    box-shadow: 2px 2px 5px rgb(2, 7, 19);
  }


  #health-id{
      height: 30px;
      width: 30px;
  }

.box-div{
    border-radius: 8px;
    background-color: #1A3365;
    float: left;
    height: 360px;
    padding-top: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 1px 4px rgb(2, 7, 19);
    margin: 100px 0px 0px 100px;
}

.about-us-box-div{
    border-radius: 8px;
    background-color: #1A3365;
    float: left;
    height: 360px;
    padding-top: 10px;
    width: 300px;
    box-shadow: 0px 1px 4px rgb(2, 7, 19);
    margin: 100px 0px 0px 100px;
}

.about-us-heading{
    color: #FFBB00;
    text-align: center;
}

.about-desc{
    color: #FFFFFF;
    font-size: 14px;
    margin-left: 10px;
}

.common-btn{
    background-color: #FF4343;
    border: 1px solid #FF4343;
    border-radius: 8px;
    height: 40px;
    width: 150px;
    color: #FFFFFF;
    margin: 250px 200px 250px 350px;
    float: left;
}

.submit-btn{
    background-color: #FF4343;
    border: 1px solid #FF4343;
    border-radius: 8px;
    height: 40px;
    width: 250px;
    color: #FFFFFF;
}

.input-box{
    height: 40px;
    width: 250px;
    background-color: #1A3365;
    border-radius: 8px;
    padding-left: 4px;
    margin-top: 20px;
    border: 1px solid rgb(110, 132, 175);
    color: #FFFFFF;
    opacity: 2;
}

#diet-plan-div{
    float: left;
    margin: 90px 0px 0px 100px ;
    visibility: hidden;
    border-radius: 8px;
    background-color: #1A3365;
    height: auto;
    padding-top: 10px;
    width: 800px;
    box-shadow: 0px 1px 4px rgb(2, 7, 19);
}